[package]
name = "hlsl_box"
version = "0.1.0"
edition = "2021"

[dependencies]
coinit = "0.1.2"
thiserror = "1.0.30"
wita = "0.14.0"
ifdlg = { git = "https://github.com/LNSEAB/ifdlg" }
libc = "0.2.124"
anyhow = { version = "1.0.56", features = ["backtrace"] }
mltg = "0.8.1"
tracing = "0.1.34"
tracing-subscriber = "0.3.11"
serde = { version = "1.0.136", features = ["derive"] }
toml = "0.5.9"
regex = "1.5.5"

[dependencies.windows]
version = "0.35.0"
features = [
    "Win32_Foundation",
    "Win32_Graphics_Direct3D",
    "Win32_Graphics_Dxgi",
    "Win32_Graphics_Dxgi_Common",
    "Win32_Graphics_Direct3D12",
    "Win32_Graphics_Direct3D_Dxc",
    "Win32_Storage_FileSystem",
    "Win32_System_IO",
    "Win32_UI_WindowsAndMessaging",
]

[profile.production]
inherits = "release"
lto = "fat"
strip = "debuginfo"