name: Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  publish:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load cache
        uses: ./.github/actions/cache_cargo
      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
      - name: Cargo install
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --locked cargo-about
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --profile production --target x86_64-pc-windows-msvc
      - name: Build
        shell: pwsh
        run: ./package.ps1
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: package/hlsl_box.zip
