name: ReleasePR

on:
  push:
    branches:
      - staging

jobs:
  release-pr:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Pull Request
        uses: bakunyo/git-pr-release-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_PR_RELEASE_TITLE: ${{ github.event.head_commit.message }}
