name: Test
on:
  pull_request:
    branches-ignore:
      - 'releases'
      - 'releases-**'
  push:
    branches:
      - master

jobs:
  test:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Load cache
        uses: ./.github/actions/cache_cargo
      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          components: rustfmt, clippy
      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target x86_64-pc-windows-msvc
